@model List<News>
@{
    ViewData["Title"] = "Index";
    int firstRow = (int)((ViewBag.CurrentPage - 1) * ViewBag.DataPage);
}

<h2 class="intro-y text-lg font-medium mt-10">
    News Data
</h2>
<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-no-wrap items-center mt-2">
        <a class="button text-white bg-theme-1 shadow-md mr-2" asp-area="Admin" asp-controller="News" asp-action="Create">Add New News</a>

        <div class="hidden md:block mx-auto text-gray-600">Showing @(firstRow + 1) to @(firstRow + ViewBag.DataPage ) of @ViewBag.DataCount entries</div>

    </div>
    <!-- BEGIN: Data List -->
    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible" style="overflow:scroll !important">
        <table class="table table-report -mt-2">
            <thead>
                <tr>
                    <th class="whitespace-no-wrap">#</th>
                    <th class="whitespace-no-wrap">Image</th>
                    <th class="whitespace-no-wrap">Name</th>
                    <th class="whitespace-no-wrap">Text1</th>
                    <th class="whitespace-no-wrap">Aforizm</th>
                    <th class="whitespace-no-wrap">Text2</th>
                    <th class="whitespace-no-wrap">Text3</th>
                    <th class="whitespace-no-wrap">About</th>
                    <th class="whitespace-no-wrap">Author</th>
                    <th class="whitespace-no-wrap">Created Date</th>
                    <th class="whitespace-no-wrap">Tag Name</th>
                    <th class="text-center whitespace-no-wrap">Action</th>
                </tr>
            </thead>
            <tbody>
                @{ int i = firstRow;}
                @foreach (var item in Model)
                {
                    i++;
                <tr class="intro-x">
                    <td class="w-40">
                        @i
                    </td>
                    <td class="w-40">
                        <div class="flex">
                            <div class="w-10 h-10 image-fit zoom-in">
                                <img alt="@item.Img" class="tooltip rounded-full" src="~/dist/img/@item.Img" title="@item.Img">
                            </div>
                        </div>
                    </td>
                    <td class="text-center">@item.Name</td>
                    <td class="text-center" style=" padding: 1rem .75rem; border-bottom: 0; vertical-align: middle; white-space: nowrap;">@(item.Text1!=null && item.Text1.Length>50? item.Text1.Substring(0, 50):item.Text1)</td>
                    <td class="text-center" style=" padding: 1rem .75rem; border-bottom: 0; vertical-align: middle; white-space: nowrap;">@(item.Aforizm!=null && item.Aforizm.Length>50? item.Aforizm.Substring(0, 50):item.Aforizm)</td>
                    <td class="text-center" style=" padding: 1rem .75rem; border-bottom: 0; vertical-align: middle; white-space: nowrap;">@(item.Text2!=null && item.Text2.Length>50? item.Text2.Substring(0, 50):item.Text2)</td>
                    <td class="text-center" style=" padding: 1rem .75rem; border-bottom: 0; vertical-align: middle; white-space: nowrap;">@(item.Text3!=null && item.Text3.Length>50? item.Text3.Substring(0, 50):item.Text3)</td>
                    <td class="text-center" style=" padding: 1rem .75rem; border-bottom: 0; vertical-align: middle; white-space: nowrap;">@(item.About!=null && item.About.Length>50? item.About.Substring(0, 50):item.About)</td>
                    <td class="text-center">@item.Author</td>
                    <td class="text-center">@item.CreatedDAte</td>
                    @{int j = 1; }
                    @foreach (var item2 in item.NewsToTags)
                    {
                        <td class="text-center">@item2.Tag.Name</td>

                        j++;
                    }
                    <td class="w-40">
                        <div class="flex items-center justify-center text-theme-9"> <i data-feather="check-square" class="w-4 h-4 mr-2"></i> Active </div>
                    </td>
                    <td class="table-report__action w-56">
                        <div class="flex justify-center items-center">
                            <a class="flex items-center mr-3" asp-area="admin" asp-controller="News" asp-action="update" asp-route-NewsId="@item.Id"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </a>
                            <a class="flex items-center text-theme-6" asp-area="admin" asp-controller="News" asp-action="delete" asp-route-NewsId="@item.Id" onclick="return confirm('Are you sure?')"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- END: Data List -->
    <!-- BEGIN: Pagination -->
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-no-wrap items-center">
        <ul class="pagination">
            <li>
                <a class="pagination__link" asp-area="Admin" asp-controller="News" asp-action="index" asp-route-page="1"> <i class="w-4 h-4" data-feather="chevrons-left"></i> </a>
            </li>
            <li>
                <a class="pagination__link" asp-area="Admin" asp-controller="News" asp-action="index" asp-route-page="@(ViewBag.CurrentPage<=1?1: ViewBag.CurrentPage - 1)"> <i class="w-4 h-4" data-feather="chevron-left"></i> </a>
            </li>
            <li> <a class="pagination__link" href="~/Areas/Admin/">...</a> </li>
            @for (int j = 1; j <= ViewBag.PageCount; j++)
            {
                <li> <a class="pagination__link @(j==ViewBag.CurrentPage ?"pagination__link--active":"")" asp-area="admin" asp-controller="News" asp-action="index" asp-route-page="@j">@j</a> </li>
            }
            <li> <a class="pagination__link" href="~/Areas/Admin/">...</a> </li>
            <li>
                <a class="pagination__link" asp-area="admin" asp-controller="News" asp-action="index" asp-route-page="@(ViewBag.CurrentPage>=ViewBag.PageCount?ViewBag.PageCount:ViewBag.CurrentPage + 1)"> <i class="w-4 h-4" data-feather="chevron-right"></i> </a>
            </li>
            <li>
                <a class="pagination__link" asp-area="admin" asp-controller="News" asp-action="index" asp-route-page="@ViewBag.PageCount"> <i class="w-4 h-4" data-feather="chevrons-right"></i> </a>
            </li>
        </ul>

    </div>
    <!-- END: Pagination -->
</div>
<!-- BEGIN: Delete Confirmation Modal -->
<div class="modal" id="delete-confirmation-modal">
    <div class="modal__content">
        <div class="p-5 text-center">
            <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
            <div class="text-3xl mt-5">Are you sure?</div>
            <div class="text-gray-600 mt-2">Do you really want to delete these records? This process cannot be undone.</div>
        </div>
        <div class="px-5 pb-8 text-center">
            <a asp-area="Admin" asp-controller="News" asp-action="index" data-dismiss="modal" class="button w-24 border text-gray-700 mr-1">Cancel</a>
            <button type="button" class="button w-24 bg-theme-6 text-white">Delete</button>
        </div>
    </div>
</div>



